<ion-content class="bg-image">
  <ion-card>
    <ion-card-title *ngIf=!submitted>
      {{'register.title' | translate}}
      <ion-card-subtitle *ngIf=!submitted >{{'register.subtitle' | translate}}</ion-card-subtitle>
    </ion-card-title>
    <ion-card-content>
        
        <form #userForm="ngForm" *ngIf=!submitted (ngSubmit)="onSubmit()" novalidate>
          <ion-item [class.invalid]='name.invalid'>
            <ion-label class="label" position="stacked" >{{'register.name' | translate}}</ion-label>
          <ion-input type="text" placeholder="{{'register.nameText' | translate}}" #name='ngModel'  required  name="name" [(ngModel)]="userModel.name" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label  class="label" position="stacked">{{'register.email' | translate}}</ion-label>
          <ion-input type="text" placeholder="{{'register.emailText' | translate}}" name="email" #email="ngModel" [class.invalid]='email.invalid'  [(ngModel)]="userModel.email" required></ion-input>
          </ion-item>
          <ion-item [class.invalid]='contact.invalid'>
            <ion-label class="label"  position="stacked" >{{'register.contact' | translate}}</ion-label>
          <ion-input type="tel" placeholder="{{'register.contactText' | translate}}" name="contact" #contact="ngModel" pattern="^\d{10}$"  [(ngModel)]="userModel.contactNumber" ></ion-input>
          </ion-item>
              
          <ion-item>
            <ion-label class="label" position="stacked">{{'register.address' | translate}}</ion-label>
            <ion-input type="text" placeholder="{{'register.addressText' | translate}}" #address="ngModel" name="address"  [(ngModel)]="userModel.address" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="label" position="stacked">{{'register.postalcode' | translate}} </ion-label>
            <ion-input type="text" placeholder="{{'register.postalcodeText' | translate}}" #postalCode='ngModel' name="postal-code"  [(ngModel)]="userModel.postalcode" ></ion-input>
          </ion-item>
        
          <div class="profile">
            <p>{{'register.profile' | translate}}</p>
            <ion-radio-group class="radio-btn" name="profile" [(ngModel)]="userModel.profile">
                <ion-item lines="none" *ngFor="let profile of profiles">
                  <ion-radio  class="radio"></ion-radio>
                  <ion-label class="radio-label">{{profile}}</ion-label>
                </ion-item> 
          </ion-radio-group>
          </div>

          <div class="age">
            <p>{{'register.age' | translate}}</p>
            <ion-radio-group name="age" [(ngModel)]="userModel.age">
              <ion-item lines="none" *ngFor="let age of ages">
                <ion-radio  class="radio" ></ion-radio>
                <ion-label class="radio-label">{{age}}</ion-label>
              </ion-item>
            </ion-radio-group>
          </div>
         
         <ion-item  lines="none">
          <ion-checkbox slot="start"  [(ngModel)]="userModel.subscribe" name="notify"></ion-checkbox>
          <ion-label>{{'register.notify' | translate}}</ion-label>
        </ion-item>
         
          <app-button></app-button>
      </form>

      <div *ngIf=submitted  class="submission-message">
        {{'register.message' | translate}}
        <div>
          <img src="assets/image/volunteers.jpg">
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
