<ion-content class="bg-image">
  <ion-card>
    <ion-card-title>
      Join Us ! <br>
      <ion-card-subtitle>Become the part of helping hands...</ion-card-subtitle>
    </ion-card-title>
    <ion-card-content>
        <ion-item>
          <ion-label class="label" position="stacked">First Name : </ion-label>
        <ion-input type="text" placeholder="Enter your first name" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  class="label" position="stacked">Last Name : </ion-label>
        <ion-input type="text" placeholder="Enter your last name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label" position="stacked">Password : </ion-label>
        <ion-input type="password" placeholder="Enter your password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  class="label" position="stacked">Confirm Password</ion-label>
        <ion-input type="password" placeholder="Re-enter the password to confirm"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label"  position="stacked">Contact Number : </ion-label>
        <ion-input type="tel" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label" position="stacked">Address : </ion-label>
        <ion-input type="text" placeholder="Enter your address" ></ion-input>
        </ion-item>
      
       <ion-radio-group>
        <div class="profile">
          <p>Please select your profile :</p>
          <ion-radio-group class="radio-btn">
              <ion-item lines="none">
                <ion-radio  class="radio"></ion-radio>
                <ion-label class="radio-label">Student</ion-label>
              </ion-item> 
              <ion-item lines="none">
                <ion-radio  class="radio"></ion-radio>
                <ion-label class="radio-label">Professor</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-radio  class="radio"></ion-radio>
                <ion-label class="radio-label">Alumina</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-radio  class="radio"></ion-radio>
                <ion-label class="radio-label">Helper</ion-label>
              </ion-item>
            </ion-radio-group>
        </div>

        <div class="age">
          <p>Please select your age:</p>
          <ion-radio-group>
            <ion-item lines="none">
              <ion-radio  class="radio"></ion-radio>
              <ion-label class="radio-label">0 - 30</ion-label>
            </ion-item> 
            <ion-item lines="none">
              <ion-radio  class="radio"></ion-radio>
              <ion-label class="radio-label">31 - 60</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-radio  class="radio"></ion-radio>
              <ion-label class="radio-label">61 - 100</ion-label>
            </ion-item>
          </ion-radio-group>
        </div>
       </ion-radio-group>

        <div class="submit-btn">
          <ion-button class="button">Submit</ion-button>
        </div> 

    </ion-card-content>
  </ion-card>
</ion-content>
