@import '../../../assets/font/font-variables.scss';

ion-content.bg-image{
    --background: url('../../../assets/image/helpinghands.jpg');
       width: -webkit-fill-available;
   }

ion-card{
    width: 49%;
    margin: 130px auto;
    padding: 30px;
    background: linear-gradient(to top, #caebfd 0%, #ffffff 100%)
}

ion-card-title{
    font: 40px $font-asimoveedge;
}

ion-card-subtitle{
    font: 32px $font-mala-text;
}
.submission-message{
    text-align: center;
    color: black;
    font: 40px $font-mala-text;
    img{
        margin: 20px auto;
    }
}

ion-card-content{
    
    display: flex;
    flex-direction: column;
    padding: 28px;
    margin: 28px;
}

ion-item{
    --background: none;
    width: -webkit-fill-available;
    .label{
        font-family: cursive;
        font-size: 27px;
        padding-bottom: 10px;
        --ion-color-primary: black;
    }
}

.invalid{
    --highlight-background:red;
}

p{
    font: 20px cursive;
    padding: 10px;
    color: black;
}

ion-input{
    font: 20px cursive;
    padding: 10px;
}

ion-checkbox{
    font: 20px cursive;
    margin-inline-end: 14px;
}

.radio-btn{
    .radio{
        cursor: pointer;
    }
}

.radio-label{
    font: 20px cursive;
    padding-left: 5px;
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
    ion-card{
        width: 60%;
    }
    ion-card-title,.submission-message{
        font-size: 32px;
    }
    ion-card-subtitle{
        font-size: 20px;
    }
    ion-card-content,p{
        font-size: 16px;
        
    }

}

@media only screen  and (max-width: 899px){
    ion-card{
        width: 90%;
        margin: 100px auto;
        padding: 10px;
    }
    ion-card-title,.submission-message{
        font-size: 20px;
    }
    ion-card-subtitle{
        font-size: 14px;
    }
    ion-card-content,p{
        font-size: 16px;
        padding: 10px;
        margin: 0;
    }

    ion-item{
        .label{
            font-size: 20px;
        }
    }
    ion-input{
        font-size: 16px;
    }
    .description{
        display: none;
    }
    .radio-label{
        font-size: 16px;
    }
}