@import '../../../assets/font/font-variables.scss';

ion-content.bg-image{
    --background: url('../../../assets/image/helpinghands.jpg');
       width: -webkit-fill-available;
   }

ion-content{
    img{
        margin-top: 60px;
        width: 80%;
    }
}

ion-card{
    width: 70%;
    height: 700px;
    margin: 130px auto;
    padding: 30px;
    background: linear-gradient(to top, #caebfd 0%, #ffffff 100%)
}

ion-card-title{
    font: 40px $font-asimoveedge;
}

ion-card-subtitle{
    font: 32px $font-mala-text;
}

ion-card-content{
    display: flex;
    flex-direction: column;
    padding: 28px;
    margin: 28px;
}

ion-label,p{
    font: 20px $font-asimoveedge-wideit;
    padding: 10px;
    color: black;
}

ion-list{
    text-align: center;
    font: 30px $font-mala-text;
    color: black;
}

.item{
    --background: none;
    font: 20px $font-mala-text;
    color: black;
    line-height: 40px;
}



