@import '../../../assets/font/font-variables.scss';

ion-content.bg-image{
    --background: url('../../../assets/image/helpinghands.jpg');
       width: -webkit-fill-available;
   }

ion-card{
    width: 70%;
    margin: 130px auto;
    padding: 30px;
    background: linear-gradient(to top, #caebfd 0%, #ffffff 100%)
}

ion-card-content{
    display: flex;
    flex-direction: column;
    padding: 28px;
    margin: 28px;
}

ion-label,p{
    font: 20px $font-asimoveedge;
    padding: 10px;
    color: darkslateblue;
}

ion-list,.subtitle{
    --ion-item-background: none;
    text-align: center;
    font: 30px $font-mala-text;
    color: darkslateblue;
}

.item,.about{
    height: fit-content;
    font: 20px cursive;
    color: black;
    line-height: 40px;
    img{
        margin-top: 30px;
    }
}

ion-slide{
    margin-top: 3%;
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
    ion-card{
        width: 80%;
    }
 
    ion-card-content,p{
        font-size: 16px;
    }
    
    ion-list,.subtitle{
        ion-col{
            line-height: 25px;
        }
    }

}

@media only screen  and (max-width: 899px){
    ion-card{
        width: 90%;
        margin: 100px auto;
        padding: 10px;
    }
   
    ion-card-content,p{
        font-size: 14px;
    }
    ion-list,.subtitle{
        font-size: 20px;
        ion-col{
            font-size: 16px;
            line-height: 20px;
        }
    }
    .item,.about{
        img{
            margin: 0;
        }
    }
    ion-label,p{
        font-size: 17px;
    }

    .about,.activity
    {
        display: grid;
    }

    ion-slide{
        margin-top: 16%;
    }
 
}


