<ion-content class="bg-image" [fullscreen]="true">
  
    <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide *ngFor="let image of images"  width="1240" height="300">
        <img src="{{image}}" />
      </ion-slide>
    </ion-slides>
  
  <ion-card>
    <ion-card-header>
      <ion-segment  [(ngModel)]="tab">
        <ion-segment-button value="about">
          <ion-label>{{'home.about' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="activities">
          <ion-label>{{'home.activities' | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
    <div [ngSwitch]="tab">
      <ion-list *ngSwitchCase="'about'">
        <p class="subtitle">{{'home.aboutHeading' | translate}}</p>
        <ion-row class="about">
          <ion-col >
            <img src="assets/icon/kaarwaa.Nlogo.jpg">
          </ion-col>
          <ion-col >
            {{'home.aboutDescription' | translate}}
          </ion-col >
        </ion-row>
      </ion-list>
      <ion-list *ngSwitchCase="'activities'">
        <p class="subtitle">{{'home.activityHeading' | translate}}</p>
        <ion-row class="activity">
          <ion-col >
            <img src="assets/image/help.jpg">
          </ion-col>
          <ion-col>
            <ion-item lines="none" class="item" >
              {{'home.activityDescription1' | translate}}
            </ion-item >
            <ion-item lines="none" class="item">
              {{'home.activityDescription2' | translate}}
            </ion-item >
            <ion-item lines="none" class="item">
              {{'home.activityDescription3' | translate}}
            </ion-item >
            <ion-item lines="none" class="item">
              {{'home.activityDescription4' | translate}}
            </ion-item >
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
  </ion-card>
</ion-content>

