@import "./font.scss";

  $font-asimoveedge: "asimoveedge", "sans-serif", "serif", "Arial";
  $font-mala-text: "mala-text","sans-serif", "serif", "Arial";
  $font-asimoveedge-extremeit: "asimoveedge-extremeit", "sans-serif", "serif", "Arial";
  $font-asimoveedge-it: "asimoveedge-it", "sans-serif", "serif", "Arial";
  $font-asimoveedge-nar: "asimoveedge-nar", "sans-serif", "serif", "Arial";
  $font-asimoveedge-narit: "asimoveedge-narit", "sans-serif", "serif", "Arial";
  $font-asimoveedge-wide: "asimoveedge-wide", "sans-serif", "serif", "Arial";
  $font-asimoveedge-wideit: "asimoveedge-wideit", "sans-serif", "serif", "Arial";
 