@font-face {
    font-family: asimoveedge;
    src:url("~/assets/font/asimovedge.otf");
  }

  @font-face {
    font-family: mala-text;
    src:url("~/assets/font/mala's handwriting.otf");
  }

  @font-face {
    font-family: asimoveedge-extremeit;
    src:url("~/assets/font/asimovedgeextremeit.otf");
  }

  @font-face {
    font-family: asimoveedge-it;
    src:url("~/assets/font/asimovedgeit.otf");
  }

  @font-face {
    font-family: asimoveedge-nar;
    src:url("~/assets/font/asimovedgenar.otf");
  }

  @font-face {
    font-family: asimoveedge-narit;
    src:url("~/assets/font/asimovedgenarit.otf");
  }

  @font-face {
    font-family: asimoveedge-wide;
    src:url("~/assets/font/asimovedgewide.otf");
  }

  @font-face {
    font-family: asimoveedge-wideit;
    src:url("~/assets/font/asimovedgewideit.otf");
  }
