@import '../../../assets/font/font-variables.scss';

ion-menu{
  margin-top: 60px;
}
.menu-list {
  height: calc(100% - 210px - 14%);
}

.profile {
  margin: 35px 0 30px 35px;
}

.label {
  color: black;
  margin-left: 5px;

  &.name-label {
    font: 24px/42px roboto-bold;
  }

  &.role-label {
    font: 14px/19px roboto-regular;
    text-transform: capitalize;
    opacity: 0.56;
  }
}

ion-avatar {
  height: 220px;
    width: 220px;
    background-color: black;
}

ion-item {
  margin-left: 20px;

  ion-icon {
    color: black;
    height: 22px;
    margin-inline-end: 12px !important;
  }

  ion-label{
    font: 20px/20px roboto-bold;
    --color: black;
    pointer-events: visible !important;
  }
}

ion-list{
  --ion-item-background: none;
}

ion-content{
  --background: linear-gradient(to bottom right,#ff8000, 	#ffffff);
}

ion-menu {
  --width: 86.7vw;
  --max-width: 325px;
  @media (max-width: 340px){
    --min-width: 86.7vw;
  }
}